<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Quiz symfony!{% endblock %}</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    {% block stylesheets %}
    {% endblock %}
</head>

<body>
<div class="container-fliud">
    {% block navbar %}
        <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
            <a class="navbar-brand" href="{{ path("homepage") }}">
                <img src="{{ asset('build/images/logo.png') }}" class="rounded" alt="Logo" style="width:40px;">
            </a>

            <ul class="navbar-nav ">
                {% if( app.user == null) %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('register') }}">Register</a>
                    </li>
                {% elseif (app.user.getRoles[0] == 'ROLE_USER'or app.user.getRoles[0] == 'ROLE_ADMIN' or app.user.getRoles[0]=='IS_AUTHENTICATED_ANONYMOUSLY') %}
                    <li class="nav-item ">
                        <div class="btn-group">
                        <button type="button" class="btn btn-dark dropdown-toggle" data-toggle="dropdown">
                            Profile
                        </button>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="/{{ ('profile') }}">View</a>
                            <a class="dropdown-item" href="/{{ ('logout') }}">Logout</a>
                        </div>
                    </li>
                {% endif %}
            </ul>
        </nav>
    {% endblock navbar %}
</div>
<div class="container">
    {% block body %}
    {% endblock %}
</div>
{% block javascripts %}
{% endblock %}
</body>
</html>
